@model IEnumerable<QuickNote.Models.NoteModels.NoteListItem>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">My Notes</h2>
<p class="text-center">
    @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-outline-light " })
</p>
<div class="row">
    @foreach (var item in Model)
    {
    <div class="card-deck" id="@($"collapseGroup{item.NoteId}")">


        <div class="card bg-dark text-light col-5.5" style="width: 18rem;">
            <h5 class="card-header text-center font-weight-bold"> @Html.DisplayFor(modelItem => item.Title)</h5>
            <hr />
            <div class="card-body">
                <p class="card-text text-center"><strong>Category:</strong> @Html.DisplayFor(modelItem => item.CategoryName)</p>


            </div>
            <div class="card-footer text-center">
                <a class="btn btn-info" data-toggle="collapse" data-target="#@($"collapseInfo{item.NoteId}")" role="button" aria-expanded="false" aria-controls=@($"collapseInfo{item.NoteId}")>
                    More info
                </a>
                <br />
                <br />
                <div class="collapse bg-secondary" id="@($"collapseInfo{item.NoteId}")">
                    <div class="card-text  ">
                        <p> <strong>Created: </strong>@Html.DisplayFor(modelItem => item.CreatedUtc)</p>
                        <p> <strong>Last Updated: </strong>@Html.DisplayFor(modelItem => item.ModifiedUtc)</p>
                    </div>
                    <div class="text-center">

                        @Html.ActionLink("Edit", "Edit", new { id = item.NoteId }, htmlAttributes: new { @class = "btn btn-warning btn-sm" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.NoteId }, htmlAttributes: new { @class = "btn btn-info btn-sm" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.NoteId }, htmlAttributes: new { @class = "btn btn-danger btn-sm" })
                    </div>
                </div>

            </div>
        </div>

        </div>
        }
    
    </div>